
.about-me{

}

.about-me__content{
	border: 2px solid black;
	background-image: url("../../images/tech_bg1.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.about-me__content img{
	height: 50vw;
	border: 3px solid white;
}

.about-me__content p{
	background-color: white;
	font-family: "Montserrat-Bold";
}
