
.about-me__content{
	background-image: url("../../images/tech_bg1.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.about-me__content img{
	height: 50vw;
	border: 3px solid white;
}

.about-me__content p{
	background-color: white;
	font-family: "Montserrat-Bold";
}





@media (min-width: 768px) and (max-width: 1023px){
.about-me__content{
	padding: 7vw!important;
}

.about-me__content img{
	padding: 1.5vw!important;
	border: 8px solid white;
}

.about-me__content p{
	padding: 2vw!important;
	margin-top: 3vw!important;
}
}



@media (min-width: 1024px){
.about-me__content{
	background-image: url("../../images/tech_bg1.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 5vh!important;
}

.about-me__content img{
	height: 40vh;
	border: 5px solid white;
	padding: 1.5vh!important;
}

.about-me__content p{
	background-color: white;
	font-family: "Montserrat-Bold";
	padding: 5vh!important;
	margin-top: 3vh!important;
}
}
