
.reasons{
	background-color: #141466;
	color: white;
	padding-bottom: 10vw;
}

.reasons__background{
	min-height: 80vw;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.reasons__content{
	background-color: rgba(20, 20, 102, 0.8);
	position: absolute;
	height: 100%;
	width: 100%;
}

.reasons__content h4{
	border-bottom: 2px solid white;
}

.reasons__background:nth-child(2){
	background-image: url("../../images/converting1.png");
}

.reasons__background:nth-child(3){
	background-image: url("../../images/professionalism.jpeg");
}

.reasons__background:nth-child(4){
	background-image: url("../../images/vitrine.jpg");
}

.reasons__background:nth-child(5){
	background-image: url("../../images/connecting_people.jpg");
}

.reasons__background:nth-child(6){
	background-image: url("../../images/24hrs_2.jpeg");
}





@media (min-width: 768px) and (max-width: 1023px){
.reasons__content h4{
	border-bottom: 4px solid white;
}

.reasons__background{
	margin-bottom: 5vw!important;
}
}



@media (min-width: 1024px){
.reasons{
	padding-bottom: 10vh;
	flex-direction: row!important;
	flex-wrap: wrap;
}

.reasons__background{
	min-height: 50vh;
	width: 45%;
	background-size: cover;
}

.reasons__content{
	background-color: rgba(20, 20, 102, 0.8);
	position: absolute;
	height: 100%;
	width: 100%;
}

.reasons__content h4{
	border-bottom: 3px solid white;
}
}
