
@font-face {
  font-family: "Argon";
  src: url("../../fonts/Argon.otf")
  format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../fonts/Montserrat-Regular.ttf")
  format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../../fonts/Montserrat-Bold.ttf")
  format("truetype");
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../../fonts/Montserrat-ExtraBold.ttf")
  format("truetype");
}

@font-face {
  font-family: "Montserrat-Black";
  src: url("../../fonts/Montserrat-Black.ttf")
  format("truetype");
}

body{
	font-family: Arial, Sans-Serif;
	overflow-x: hidden;
}

a{
	text-decoration: none;
}

section{
	text-align: center;
}

section:not(:first-child){
	padding-top: 15vw;
}

.section__headline{
	max-width: 60vw;
	font-size: 6vw;
	margin-bottom: 5vw;
}

section p{
	font-size: 4.5vw;
}

h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
	font-family: "Montserrat-ExtraBold";
}