
@font-face {
  font-family: "Argon";
  src: url("../../fonts/Argon.otf")
  format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../fonts/Montserrat-Regular.ttf")
  format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../../fonts/Montserrat-Bold.ttf")
  format("truetype");
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../../fonts/Montserrat-ExtraBold.ttf")
  format("truetype");
}

@font-face {
  font-family: "Montserrat-Black";
  src: url("../../fonts/Montserrat-Black.ttf")
  format("truetype");
}

body{
	font-family: Arial, Sans-Serif;
	overflow-x: hidden!important;
	background-color: #EEE;
}

a{
	text-decoration: none;
}

section{
	text-align: center;
}

section:not(:first-child){
	padding-top: 15vw;
}

.section__headline h3{
	max-width: 60vw;
	font-size: 6vw;
	margin-bottom: 8vw;
}

section p{
	font-size: 4.5vw;
}

section h4{
	font-size: 4.5vw;
}

h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
	font-family: "Montserrat-ExtraBold";
}





@media (min-width: 1024px){
section:not(:first-child){
	padding-top: 20vh;
}

.section__headline h3{
	max-width: 50vw;
	font-size: 7vh;
	margin-bottom: 8vh;
}

section p{
	font-size: 5vh;
}

section h4{
	font-size: 5vh;
}

.container{
	max-width: 70%;
}
}
