
.questions{
	padding-bottom: 15vw;
}

.accordion-item{
	border-radius: 0;
}

.questions .accordion-button{
	background-color: white!important;
	box-shadow: none!important;
	border-radius: 0!important;
	color: black!important;
	position: relative;
	font-size: 4.5vw;
}

.questions .accordion-button span{
	margin-right: 4vw;
}

.questions .accordion-body p::before{
	content: "";
	height: 1px;
	background-color: black;
	width: 100%;
	display: block;
	margin-bottom: 3vw;
}

.questions .accordion-body{
	margin-top: 0;
	padding-top: 0;
}

.accordion-button::after{
	background-image: url("../../images/dropdown_icon.png")!important;
	background-position: center!important;
	position: absolute;
	right: 4vw;
}





@media (min-width: 768px) and (max-width: 1023px){
.questions h5{
	padding: 2vw 3vw;
	box-sizing: content-box!important;
}

.questions .accordion-body p::before{
	height: 3px;
}

.accordion-button::after{
	right: 4vw;
	height: 4vw!important;
	width: 4vw!important;
	background-size: contain!important;
	}
}



@media (min-width: 1024px){
.questions{
	padding-bottom: 15vh;
}

.questions h5{
	padding: 2vh;
	box-sizing: content-box!important;
}

.questions .accordion-button{
	font-size: 4.5vh;
}

.questions .accordion-button span{
	margin-right: 5vh;
}

.questions .accordion-body p::before{
	height: 2px;
	margin-bottom: 5vh;
}

.accordion-button::after{
	right: 3vh;
	height: 7vh!important;
	width: 7vh!important;
	}
}

