
header{
	height: 25vw;
	background-color: black;
	position: fixed;
	top: 0;
	z-index: 98;
}

header .logo{
	font-family: "Argon";
	font-size: 15vw;
}

.desktop-menu{
	display: none;
}

.desktop-menu a{
	color: white!important;
	border: 3px solid transparent;
	font-weight: bold;
	text-transform: uppercase;
}

.desktop-menu a:hover{
	border: 3px solid white;
}





@media (min-width: 1024px){
header{
	height: auto;
	position: static;
	paadding: 0vh!important;
}

header .logo{
	font-family: "Argon";
	font-size: 10vh;
	align-self: flex-start;
	margin-left: 5vh;
	margin-top: 5vh;
}

.desktop-menu{
	display: flex;
}

.desktop-menu a{
	color: white!important;
	border: 3px solid transparent;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 3vh;
}

.desktop-menu a:hover{
	border: 3px solid white;
}
}

