
@keyframes lead-cta{
	50%{transform: translateY(-8px);}
}

@keyframes lead-cta2{
	0%{transform: translateY(-20vw);}
	25%{transform: rotate(180deg);}
	75%{transform: rotate(0deg); animation: lead-cta 2s infinite;}
}



.lead-section{
	margin-top: 25vw;
}

.lead-section__me{
	margin-bottom: 5vw;
}

.lead-section__me div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.lead-section__title-area{
	text-transform: uppercase;
	order: 2;
}

.lead-section__title-area h1{
	font-family: "Montserrat-Black";
	font-size: 7vw;
}

.lead-section__title-area h1 span{
	font-size: 5vw;
}

.lead-section__title-area h2{
	font-family: "Montserrat-Bold";
	font-size: 4vw;
}

.lead-section__my-card{
	order: 1;
	border: 5px solid black;
	border-radius: 0px 30px 0px 30px;
	margin-bottom: 3vw;
}

.lead-section__my-card img{
	width: 70vw;
	height: 50vw;
	object-fit: cover;
	object-position: top;
	border-radius: 0px 30px 0px 30px;
}

.lead-section__text{
	font-weight: bold;
	color: white;
	background-color: #141466;
	border-radius: 10px;
}

.lead-section__text img{
	width: 100%;
}

.lead-section__cta{
	color: white!important;
	animation: lead-cta 1s linear infinite;
	/*animation: lead-cta2 5s linear 2s infinite;*/
}



