
@keyframes lead-cta{
	50%{transform: translateY(-8px);}
}



.lead-section{
	margin-top: 25vw;
	padding-top: 5vw;
}

.lead-section__me{
	margin-bottom: 5vw;
}

.lead-section__me div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.lead-section__title-area{
	text-transform: uppercase;
	order: 2;
}

.lead-section__title-area h1{
	font-family: "Montserrat-Black";
	font-size: 7vw;
}

.lead-section__title-area h1 span{
	font-size: 5vw;
}

.lead-section__title-area h2{
	font-family: "Montserrat-Bold";
	font-size: 4vw;
}

.lead-section__my-card{
	order: 1;
	border: 5px solid black;
	border-radius: 0px 30px 0px 30px;
	margin-bottom: 3vw;
}

.lead-section__my-card img{
	width: 70vw;
	height: 50vw;
	object-fit: cover;
	object-position: top;
	border-radius: 0px 30px 0px 30px;
}

.lead-section__text{
	font-weight: bold;
	color: white;
	background-color: #141466;
	border-radius: 10px;
}

.lead-section__text img{
	width: 100%;
}

.lead-section__cta{
	color: white!important;
	background-color: #228B22;
	border: 3px solid transparent;
	transition-property: background-color, border;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	animation: lead-cta 0.9s linear infinite;
	font-size: 5vw;
}

.lead-section__cta:hover{
	background-color: transparent;
	border: 3px solid #228B22;
}





@media (min-width: 768px) and (max-width: 1023px){
.lead-section__my-card{
	border: 10px solid black;
	border-radius: 0px 50px 0px 50px;
	margin-bottom: 5vw;
}

.lead-section__my-card img{
	padding: 2vw!important;
	border-radius: 0px 50px 0px 50px;
}

.lead-section__cta{
	border: 5px solid transparent;
	padding: 3vw!important;
	font-size: 4.5vw;
	margin-top: 5vw!important;
}

.lead-section__cta:hover{
	border: 5px solid #228B22;
}
}





@media (min-width: 1024px){
.lead-section{
	margin-top: 5vh;
	padding-top: 2vh;
}

.lead-section__me{
	flex-direction: row!important;
	margin-bottom: 10vh;
}

.lead-section__title-area{
	order: 1;
	width: 50%;
	margin-right: 10vh;
}

.lead-section__title-area h1{
	font-size: 8vh;
}

.lead-section__title-area h1 span{
	font-size: 6vh;
}

.lead-section__title-area h2{
	font-size: 4vh;
}

.lead-section__my-card{
	order: 2;
	margin-bottom: 0;
}

.lead-section__my-card img{
	width: 50vh;
	height: 40vh;
}

.lead-section__text{
	border-radius: 20px;
	padding: 5vh 15%!important;
}

.lead-section__cta{
	border: 5px solid transparent;
	font-size: 4.5vh;
	padding: 1vh 3vh!important;
}

.lead-section__cta:hover{
	border: 5px solid #228B22;
}
}