
.steps{
	padding-bottom: 10vw;
}

.steps__content{
	max-width: 80%;
}

.steps__content span{
	font-family: "Montserrat-Black";
	font-size: 10vw;
	display: inline-block;
}

.steps__content p{
	font-weight: bold;
}

.steps__content a{
	color: blue;
	text-decoration: underline;
}





@media (min-width: 1024px){
.steps{
	padding-bottom: 10vh;
}

.steps__content{
	max-width: 100%;
}

.steps__content span{
	font-size: 10vh;
}
}