
.services-cards__card{
	width: 80%;
	transition-property: transform, box-shadow, opacity!important;
	transition-duration: 1s;
	transition-timing-function: ease;
	border: none;
	box-shadow: 0 0 0 2px #0096FF;
	background-color: white;
}

.services-cards__card:hover{
	transform: translateY(-15vw) scale(1.1)!important;
	box-shadow: 0 0 20px 2px blue;
}

.services-card__headline{
	max-width: 70%;
}

.services-cards__card h4{
	font-size: 4.5vw;
}

.services-cards__card img{
	height: 40vw;
	max-width: 90%;
	object-fit: contain;
}

.other-services .services-cards__card{
	box-shadow: 0 0 0 2px #228B22;
}

.other-services .services-cards__card:hover{
	box-shadow: 0 0 20px 2px #228B22;
}

.services-cards__card p{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.services-cards__card p::before{
	content: "";
	display: flex;
	justify-content: center;
	height: 2px;
	width: 40%;
	background-color: #36454F;
	margin-bottom: 2vw;
}

.services-cards__card p::after{
	content: "";
	display: flex;
	justify-content: center;
	height: 2px;
	width: 40%;
	background-color: #36454F;
	margin-top: 2vw;
}
