
#slider1{
	height: 60vw;
	width: 100%;
}

#slider1 .slider1-slide__text{
	background-color: rgba(0, 0, 0, 0.5);
}

#slider1 .slider1-slide__text a{
	color: white;
	text-decoration: underline;
}

#slider1 .carousel-inner .carousel-item:nth-of-type(1) .slider1__slide{
	background-color: red;
}
