
#slider1{
	height: 60vw;
	width: 100%;
}

#slider1 .carousel-item .slider1__slide{
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
}

#slider1 .carousel-item{
	transition: 1s;
}

#slider1 .slider1-slide__text{
	background-color: rgba(0, 0, 0, 0.3);
}

#slider1 .slider1-slide__text a{
	color: white;
	border-bottom: 1px solid white;
	font-size: 5vw;
	font-weight: bold;
	margin-top: 20vw;
	text-transform: uppercase;
}

#slider1 .carousel-item:nth-of-type(1) .slider1__slide{
	background-image: url("../../images/project1.png");
}

#slider1 .carousel-item:nth-of-type(2) .slider1__slide{
	background-image: url("../../images/project2.png");
}

#slider1 .carousel-item:nth-of-type(3) .slider1__slide{
	background-image: url("../../images/project3.png");
}

#slider1 .carousel-item:nth-of-type(4) .slider1__slide{
	background-image: url("../../images/project4.png");
}

#slider1 .carousel-item:nth-of-type(5) .slider1__slide{
	background-image: url("../../images/project5.png");
}





@media (min-width: 768px) and (max-width: 1023px){
.carousel-control-prev-icon, .carousel-control-next-icon{
	height: 80%!important;
	width: 80%!important;
}

.carousel-indicators{
	margin-bottom: 5vw!important;
}

.carousel-indicators button{
	height: 7px!important;
	width: 8vw!important;
	margin: 0 1vw!important;
}

#slider1 .slider1-slide__text a{
	border-bottom: 3px solid white;
}
}



@media (min-width: 1024px){
#slider1{
	height: 70vh;
	width: 70vw;
}

#slider1 .carousel-item .slider1__slide{
	baackground-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#slider1 .slider1-slide__text a{
	border-bottom: 4px solid white;
	font-size: 4.5vh;
	font-weight: bold;
	margin-top: 35vh;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
	height: 50%!important;
	width: 50%!important;
}

.carousel-indicators{
	margin-bottom: 5vh!important;
}

.carousel-indicators button{
	height: 5px!important;
	width: 4vh!important;
	margin: 0 1vh!important;
}
}
