
.mobile-menu-button span{
	height: 0.8vw;
	width: 7vw;
	background-color: white;
	display: block;
	margin: 2vw 0;
}

.mobile-menu-modal{
  transition: width 0.5s ease-in-out;
  margin-top: 25vw;
  width: 0%;
  height: calc(100% - 25vw);
}

#mobile-menu{
	background-color: white;
	height: 70vh;
	width: 0vw;
	overflow: hidden;
	transition: width 0.5s ease-in-out;
	white-space: nowrap;
	border: 1px solid black;
	border-top: none;
}


#mobile-menu ul{
  font-size: 4.5vw;
  width: 80%;
}

#mobile-menu ul a{
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
}

#mobile-menu ul li{
  width: 100%;
}

#mobile-menu .mobile-menu-line{
  height: 2px;
  width: 0%;
  background-color: black;
  transition: 0.5s ease;
}

#mobile-menu ul li:hover > .mobile-menu-line{
  width: 100%;
}
