
.top-button{
	bottom: 8vh;
	right: 8vw;
	background-color: darkblue;
	color: white!important;
	font-size: 6vw;
	cursor: pointer;
	transition: 0.5s;
	height: 12vw;
	width: 12vw;
	z-index: 97;
	opacity: 0;
}

.top-button-enabled{
	opacity: 1;
}





@media (min-width: 1024px){
.top-button{
	bottom: 8vh;
	right: 8vh;
	font-size: 4vh;
	height: 8vh;
	width: 8vh;
}
}
