
.business{
	background-color: black;
	color: white;
	overflow: hidden;
	padding-bottom: 10vw;
}

.business__content{
	width: 80%;
}

.business__stamp{
	height: 12vw;
	width: 60vw;
	color: black;
	transform: rotate(-35deg);
	font-size: 6vw;
	font-family: "Montserrat-ExtraBold";
	top: 5vw;
	left: -14vw;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.9), gold);
}

.business__stamp span{
	display: inline-block;
	border: 2px solid black;
	width: 100%;
}

.business__social img{
	height: 10vw;
}

.business__social a:nth-of-type(1){
	margin-right: 3vw;
}





@media (min-width: 320px) and (max-width: 1023px){
	.business{
		margin-bottom: 10vw!important;
	}
}



@media (min-width: 1024px){
.business{
	padding-bottom: 10vh;
	margin-bottom: 20vh!important;
}

.business__content{
	width: 60%;
}

.business__stamp{
	height: 15vh;
	width: 75vh;
	font-size: 6vh;
	top: 6vh;
	left: -18vh;
}

.business__stamp span{
	border: 3px solid black;
}

.business__social{
	margin-top: 5vh;
}

.business__social img{
	height: 8vh;
}

.business__social a:nth-of-type(1){
	margin-right: 2vh;
}
}